*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Inter;
    font-size: 64px;
    font-weight: 400;
    line-height: 77.45px;
    text-align: center;
    color: white;
}   

h1>span{
    font-weight: 700;
    color: #F8FD0D;
}

body{
    background-color: #CD5D5D;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
nav p{
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.41px;
    text-align: center;

}
.cards-wrapper{
    display: flex;
    align-items: center;
    gap: 100px;
}
.card{
    background-color: black;
    color: white;
}

.card-text{
    padding: 18px 30px 24px 30px;
}
.card-title{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;

}
.card-des{
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    text-align: center;
    margin-top: 18px;
}
img{
    width: 100%;
}

